{# @var Model \rednaoeasycalculationforms\core\Managers\FormManager\Fields\FBFieldBase #}
<div class="field_{{ Model.Options.Id }} field type_{{ Model.Options.Type }}"  style="display: {{ Model.GetBlockType }}">
    {% block content %}
        {{ Model.ToText | nl2br }}
    {% endblock %}
</div>